<!DOCTYPE html>
<html>
<head>
    <title>Heat Map</title>
    <!-- <script src="/public/js/action.js"></script> -->
</head>
<body>
    <div id="heatmap" style="position: relative; width: 50%; height: 100%;">
        <img src="/public/img/index.png" style="width: 100%; height: 50%;">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/js/heatmap.js"></script>
    <script>
        var j= 0;
        var mouseClickLocation = [
            {x: 1107, y: 401},
            {x: 1107, y: 928},
            {x: 1107, y: 1494},
            {x: 672, y: 1443},
            {x: 672, y: 2706},
            {x: 120, y: 2654},
            {x: 116, y: 3364},
            {x: 720, y: 2644},
            {x: 168, y: 2620},
            {x: 167, y: 2152},
            {x: 972, y: 2132},
            {x: 963, y: 1447},
            {x: 963, y: 606},
            {x: 963, y: 135}
        ]
        var newArray = [];
        $.each(mouseClickLocation, function(key, value) {
            var exists = false;
            $.each(newArray, function(k, val2) {
            if((value.x == val2.x) && (value.y == val2.y)){ exists = true };
            });
            if(exists == false && ((value.y != "") && (value.x != ""))) { newArray.push(value); }
        });
        var heatmapInstance = h337.create({
            container: document.getElementById('heatmap'),
            maxOpacity: .6,
            radius: 25,
            blur: .90,
        });

        window.setInterval(function() {
            if(newArray.length >= (j+1)) {
                var mouseX= newArray[j].x;
                var mouseY= newArray[j].y;
                heatmapInstance.addData({ 
                    x: mouseX/2,
                    y: mouseY/2,
                    value: 1
                });
                j++;
            }
        }, 100);
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146063174-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146063174-1');
</script>

</body>
</html>